In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm
from sklearn import metrics
import scipy.stats
import warnings
warnings.filterwarnings('ignore')

In [2]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\scienthia\anaconda3\envs\learn-env\lib\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\users\scienthia\anaconda3\envs\learn-env\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

### Load the dataset and inspect the first five rows and the last five rows

In [3]:
cars = pd.read_excel("data\JijiCarsRawDataFinal.xlsx")
# check the first 5 rows
cars.head()

,Model,Make,YOM,Color,Used,Transmission,Mileage,Location,Price
0,X-Trail,Nissan,2014,Black,Foreign Used,Automatic,136000,"Nairobi, Karen","KSh 2,050,000"
1,Teana,Nissan,2014,Silver,Foreign Used,Automatic,85000,"Nairobi, Kilimani","KSh 1,380,000"
2,Teana,Nissan,2013,Gray,Foreign Used,Automatic,90231,"Nairobi, Ridgeways","KSh 995,000"
3,X-Trail,Nissan,2014,White,Foreign Used,Automatic,52000,"Nairobi, Jamhuri","KSh 2,500,000"
4,Note,Nissan,2014,White,Foreign Used,Automatic,Unavailable,"Mombasa, Mombasa CBD","KSh 1,100,000"

In [4]:
# check the last 5 rows
cars.tail()

,Model,Make,YOM,Color,Used,Transmission,Mileage,Location,Price
46680,Romeo,Alfa,2015,Black,Foreign Used,Automatic,Unavailable,"Nairobi, Kilimani","KSh 1,800,000"
46681,Romeo,Alfa,2016,White,Foreign Used,Automatic,75048,"Nairobi, Ridgeways","KSh 1,500,000"
46682,Romeo,Alfa,2002,Red,Kenyan Used,Automatic,72000,"Nairobi, Westlands","KSh 289,000"
46683,Romeo,Alfa,1992,Blue,Kenyan Used,Manual,150000,"Nairobi, Karen","KSh 300,000"
46684,Romeo,Alfa,1987,Red,Kenyan Used,Manual,Unavailable,"Kajiado, Ongata Rongai","KSh 80,000"

### Displaying a list of all the keys in the dictionary cars.

In [5]:
cars.keys()

Index(['Model', 'Make', 'YOM', 'Color', 'Used', 'Transmission', 'Mileage',
       'Location', 'Price'],
      dtype='object')

In [6]:
cars['Model'].unique()

array(['X-Trail', 'Teana', 'Note', 'Qashqai', 'Navara', 'March',
       'Skyline', 'Elgrand', 'Fuga', 'Lafesta', 'Sylphy', 'Juke', 'Latio',
       'Dayz', 'Tiida', 'Moco', 'NV3500', 'Pick-Up', 'Serena', 'Advan',
       'Murano', 'Cube', 'Dualis', 'Wingroad', 'Bluebird', 'Caravan',
       'Vanette', 'NP300', 'NV100', '200SX', 'Leaf', '260Z', 'XTrail',
       'Commercial', 'Sunny', '100', 'Altima', 'GT-R', 'Silvia', 'Patrol',
       'FB14', '350Z', 'Versa', 'Primera', 'Atlas', 'Hardbody',
       'Pathfinder', 'NV200', 'FB15', 'DoubleCab', 'Pulsar', 'Terrano',
       '1400', 'Liberty', 'Almera', 'Carina', 'Avenir', 'Pino', 'Titan',
       'Cabstar', 'UD', 'Otti', 'Prairie', '370Z', '240SX', '300ZX',
       '899,999', 'Micra', 'Cima', '620,000', 'Cefiro', 'Violet',
       'Cedric', 'Extrail', 'Forester', 'Outback', 'Legacy', 'Impreza',
       'Vivio', 'Levorg', 'XV', '787,500', 'SVX', 'Exiga', '1,124,998',
       'Trezia', '1.8', 'Pleo', '1600', '562,500', 'Tribeca', '843,750',
       '618,748', '3,352,500', 'Justy', '2,924,998', '1,237,500',
       '1,215,000', '2,081,250', '1,293,750', '1,203,750', '2,925,000',
       '528,748', '2,249,998', '360', '877,500', '1800', '787,498',
       '1,350,000', 'CX-5', 'Axela', 'Atenza', 'Demio', '6', 'Familia',
       'CX-3', '5', 'Verisa', 'CX-7', 'MX-5', 'Tribute', 'RX-8',
       'Premacy', 'Bongo', 'Biante', '323', 'Flair', 'MPV', '1,687,500',
       'Rustler', '2', 'Carol', 'Capella', 'B-Series', '3', '2,362,500',
       'B', 'B-series', '2,475,000', '618,750', '1,068,750', '956,250',
       '765,000', '742,498', '110', 'AZ', '427,500', '337,500', '506,250',
       '450,000', '731,250', 'Etude', '2,290,000', '2,306,248', 'M',
       'E300', 'G-Class', 'E200', '260E', 'E250', 'C63', '200E',
       'GL-Class', 'S-Class', 'C200', 'C220', 'C180', '220', 'GLA',
       'B-Class', 'E350', 'E220', 'A-Class', 'CLK', 'E320', 'C240',
       'GLA-Class', 'S', 'Viano', 'SL', 'CLS', '220E', 'E240',
       'CLA-Class', '200', 'SLK-Class', '1,968,750', 'GL', '2024', 'SLK',
       'E280', 'C250', 'GLC-Class', '190E', 'W123', 'E230', 'C-Class',
       'C230', 'C350', '2,474,998', 'CL', '300E', '230E', 'SL-Class',
       '2,250,000', '1422', 'AMG', 'Actros', '900,000', 'W124',
       'GLE-Class', '3,937,500', '1,518,750', '280E', '720,000', '190',
       '500SE', '2,193,750', 'Travego', 'E550', 'Allion', 'Mark', 'Land',
       'Harrier', 'Corolla', 'Noah', 'Hilux', 'Crown', 'Sienta', 'Premio',
       'TownAce', 'Vanguard', 'Axio', 'RAV4', 'Avensis', 'Voxy',
       'Vellfire', 'Fielder', 'Probox', 'FJ', 'Vitz', 'Wish', 'ISIS',
       'Spade', 'Auris', 'Passo', 'bB', 'Alphard', 'Ractis', 'Rush',
       'Belta', 'Succeed', 'Raum', 'Allex', 'Fortuner', 'Porte', 'Aqua',
       'Kluger', 'IST', 'Gaia', 'Estima', 'Picnic', 'Avanza', 'HiAce',
       'Toyoace', 'Vista', 'Prius', 'Caldina', 'Platz', 'Lexcen',
       'Corona', 'Camry', 'Ipsum', 'Carib', 'Corsa', 'Altezza', 'T100',
       '750,000', 'Regius', 'Fun', 'Spacio', 'Starlet', 'Celica',
       'Sprinter', 'Sai', 'Duet', 'Townace', 'GT86', 'Blade', 'Nadia',
       '4-Runner', 'Cami', 'Run-X', 'Lite-Ace', 'Stallion', 'PRADO',
       'MR-S', 'Avalon', 'Supra', 'SA', 'C-HR', 'Verossa', 'GT1',
       'Highlander', 'Pixis', 'iQ', 'Will', 'Dyna', 'Paseo', 'Sienna',
       'Yaris', nan, '3,600,000', '1000', 'TRD', 'Roomy', 'X4', '320i',
       'X5', '528i', '520i', '320d', '116i', 'X3', '120i', 'X1', 'X6',
       '535i', '316i', '524d', '118i', '530i', '523i', '7', '323i',
       '328i', '535d', 'S-Series', '525i', '318i', '420d', '330i', 'M1',
       '320Ci', '316Ti', '216i', '118d', '450', 'M6', '1,856,250',
       '3,374,998', 'R-Series', '335i', '3,375,000', '1,012,500', '230i',
       '455,000', '686,250', '325i', '523I', '1,912,500', 'Delica',
       'Outlander', 'Pajero', 'RVR', 'Mirage', 'Galant', 'Shogun', 'L200',
       'Minicab', 'Triton', 'Minica', 'Airtrek', 'Lancer', 'L400', 'EK',
       'Eclipse', 'Canter', 'Attrage', 'ASX', 'Colt', 'Spacewagon',
       'Grandis', 'Nativa', 'Montero', 'Jeep', '1,451,250', 'SpaceWagon',
       '2,137,500', 'Dion', 'Chariot', 'Carisma', 'Celeste', 'Sapporo',
       'Golf', 'Up', 'Beetle', 'Amarok', 'Touran', 'Polo', 'Tiguan',
       'Passat', 'CC', 'Sharan', 'Lupo', 'Touareg', 'Bora', 'Jetta', '1',
       'Citi', 'Caddy', '989,998', '675,000', '2,868,750', 'Q3', 'A4',
       'Q5', 'A3', 'A6', 'Q7', 'TT', 'A2', 'A7', 'A5', 'SQ5', 'Quattro',
       'A1', '2,025,000', 'RS', 'Discovery', 'Range', 'Freelander',
       'Defender', 'Lr4', 'Rover', 'Lr3', 'LR4', 'LR3', '5,399,998',
       '1,800,000', 'Lr2', 'I,', '360,000', '4,499,998', 'Swift', 'Every',
       'Wagon', 'Alto', 'SC', 'Solio', '250', 'Escudo', 'SX', 'EV', 'ST',
       'Bandit', 'SP', 'SR', 'Grand', 'Jimny', 'Vitara', 'Maruti',
       'SFV650', 'AP', 'Verona', 'Van', 'Splash', '630,000', 'JR',
       'Boost', 'Samurai', 'XL-7', 'AN', 'Sierra', 'Sx4', 'Hayabusa',
       'Stepwgn', 'Fit', 'CR-V', 'Vezel', 'Insight', 'N-Wgn', 'Stream',
       'Partner', 'CR-Z', 'Odyssey', 'Shuttle', 'Freed', 'Acty', 'Accord',
       'City', 'HR-V', 'Airwave', 'Crossroad', 'Mobilio', 'H-Wgn',
       'Stepwagon', 'CRV', 'Life', '1,462,500', 'Jazz', '652,500',
       'Ballade', '853,875', '810,000', '1,125,000', 'Civic', 'N-WGN',
       'Cr-V', 'RX', 'NX', 'LX', 'LS', 'CT', 'GS', 'IS', '4,837,498',
       '3,037,500', '4,106,250', '2,700,000', 'GX', 'Rx', 'Gs', 'V40',
       'XC60', 'V60', 'S60', 'S40', 'V50', 'V70', 'XC90', 'S70', 'S80',
       '244', 'XC70', '740', '240', 'Xc90', 'C70', '207', '508', '208',
       '206', '405', '2008', '308', 'RC', '5008', '307', '202', '406',
       '504', '607', '3008', '505', '306', '205', '404', '305', '204',
       'EcoSport', 'Ranger', 'Ecosport', 'Everest', 'Kuga', 'Explorer',
       'Focus', 'Fiesta', 'Transit', 'Mondeo', 'Galaxy', 'Escape',
       'Bantam', 'Escort', 'Mustang', 'Telstar', 'Consul', 'Sport',
       'HIJET', 'Mira', 'Be-Go', 'Be-go', 'Bee', 'Terios', 'Boon', 'Move',
       'Bego', 'Rocky', 'YRV', '539,998', 'Charade', 'Compass',
       'Cherokee', 'Wrangler', 'Cayenne', 'Panamera', 'Captiva',
       'Chevette', 'Trailblazer', 'Malibu', 'Trans', 'Aveo', 'Lacetti',
       'Impala', 'Caprice', '393,750', 'Chevelle', 'Optra', 'MW',
       'Camaro', 'Cruze', 'Cobalt', 'Santa', 'Elantra', 'Sonata',
       'Tucson', 'I10', 'ix35', 'Creta', 'Palisade', 'i40', 'Accent',
       'H1', 'Excel', 'XJ', 'F-Pace', 'XE', 'XF', 'F-Type', 'X-Type',
       'Cooper', 'Countryman', 'Hatch', 'Convertible', 'Mini', 'Sportage',
       'Sorento', 'Carens', 'Cerato', 'Rio', 'Towner', 'Romeo'],
      dtype=object)

In [7]:
cars.drop('Model', axis=1, inplace=True)

In [8]:
cars['Make'].unique()

array(['Nissan', 'KSh', 'Subaru', 'Mazda', 'Mercedes-Benz', 'Toyota',
       'TOYOTA', nan, 'BMW', 'Bmw', 'Mitsubishi', 'Volkswagen', 'Audi',
       'Land Rover', 'Land', 'Suzuki', 'Honda', 'Lexus', 'Volvo',
       'Peugeot', 'Ford', 'Daihatsu', 'Jeep', 'Porsche', 'Chevrolet',
       'Hyundai', 'Jaguar', 'Mini', 'Kia', 'Alfa'], dtype=object)

In [9]:
cars.Make[cars.Make =='KSh'] ='NaN'
cars.dropna(subset = ['Make'], inplace=True)
cars.Make[cars.Make =='Bmw'] ='BMW'
cars.Make[cars.Make =='Toyota'] ='TOYOTA'
cars.Make[cars.Make =='Land'] ='Land Rover'

cars.Make.unique()

array(['Nissan', 'NaN', 'Subaru', 'Mazda', 'Mercedes-Benz', 'TOYOTA',
       'BMW', 'Mitsubishi', 'Volkswagen', 'Audi', 'Land Rover', 'Suzuki',
       'Honda', 'Lexus', 'Volvo', 'Peugeot', 'Ford', 'Daihatsu', 'Jeep',
       'Porsche', 'Chevrolet', 'Hyundai', 'Jaguar', 'Mini', 'Kia', 'Alfa'],
      dtype=object)

In [10]:
cars['Color'].unique()

array(['Black', 'Silver', 'Gray', 'White', 'Green', 'Brown', 'Purple',
       'Beige', 'Red', 'Pearl', 'Orange', 'Pink', '2014', 'Blue', 'Gold',
       '2012', 'Other', 'Yellow', 'Burgandy', '2013', 'Teal', 'white',
       'Premium', '2015', 'SV', 'Ivory', '2002', '2006', '1.4', '2011',
       '2008', '899,999', '2004', '2.0', '1.2', '2009', '620,000', '2007',
       '1.8', 'Shape', '787,500', '1,124,998', 'Trend', '562,500',
       '843,750', '618,748', '3,352,500', '2010', '2,924,998',
       '1,237,500', '1,215,000', 'Package', '2,081,250', '1,293,750',
       '1,203,750', '2,925,000', '528,748', '2,249,998', '877,500',
       '2005', 'silver', '787,498', 'green', 'beige', 'black', 'blue',
       'red', '1,350,000', 'purple', 'gray', 'orange', '2016',
       '1,687,500', '2,362,500', 'AWD', '2,475,000', '618,750',
       '1,068,750', '956,250', '765,000', '742,498', '427,500', '337,500',
       '506,250', '450,000', '731,250', 'brown', '2,290,000', '2,306,248',
       '1,968,750', '1989', '2,474,998', '1988', '1997', '2,250,000',
       '900,000', '3,937,500', '1,518,750', '720,000', '1996',
       '2,193,750', '4WD', 'D-4d', '750,000', 'FWD', '2018', 'Seater)',
       'RWD', 'Cab', '16V', '2003', 'Sedan', 'Wagon', '4x4', '2001',
       '2017', 'ZX', 'VVT-i', 'ALTITUDE', '1.5', 'SR', 'SR5', '2WD',
       '3dr', 'WORKMATE', '3,600,000', '2021', '5dr', '2.8', 'GX-R',
       'Whte', 'sDrive28i', 'xDrive35d', '1,856,250', '3,374,998',
       '3,375,000', '1,012,500', '455,000', '686,250', '3.0i', 'gold',
       '1,912,500', '1995', 'DI-D', '1,451,250', '2,137,500', 'GLS',
       'Executive', '989,998', 'SE', '675,000', '2,868,750', 'Balck',
       'Quattro', '2,025,000', '8A)', '5,399,998', '1,800,000', '360,000',
       '4,499,998', '630,000', 'yellow', 'ivory', 'pink', '1,462,500',
       '652,500', '853,875', '810,000', '1,125,000', 'Aria', 'Base',
       '4,837,498', '3,037,500', '4,106,250', '2,700,000', '539,998',
       '393,750', 'Coupe'], dtype=object)

In [11]:
colors_mapping = {
    'black': 'Black',
    'silver': 'Silver',
    'gray': 'Gray',
    'white': 'White',
    'green': 'Green',
    'brown': 'Brown',
    'purple': 'Purple',
    'beige': 'Beige',
    'red': 'Red',
    'pearl': 'Pearl',
    'orange': 'Orange',
    'pink': 'Pink',
    'blue': 'Blue',
    'gold': 'Gold',
    'yellow': 'Yellow',
    'burgandy': 'Burgandy',
    'teal': 'Teal',
    'ivory': 'Ivory',
    'whte': 'White',  # Assuming 'whte' is a typo and should be 'white'
}

# Convert the 'Color' column to lowercase and map valid colors
cars['Color'] = cars['Color'].str.lower().map(colors_mapping)

# Display unique values in the cleaned 'Color' column
print(cars['Color'].unique())

['Black' 'Silver' 'Gray' 'White' 'Green' 'Brown' 'Purple' 'Beige' 'Red'
 'Pearl' 'Orange' 'Pink' nan 'Blue' 'Gold' 'Yellow' 'Burgandy' 'Teal'
 'Ivory']

In [12]:
# Drop rows with missing values in the 'Color' column
cars.dropna(subset=['Color'], inplace=True)

In [13]:
cars['Used'].unique()

array(['Foreign Used', 'Kenyan Used', 'Brand New', 'Automatic', 'Manual',
       '94871'], dtype=object)

In [14]:
cars['Used'].replace(('Manual', 'Automatic', 
       'km', 'Mombasa, Mombasa CBD', '94871'), float('NaN'),
                     inplace=True)
cars.dropna(subset = ['Used'], inplace=True)
cars.Used.unique()

array(['Foreign Used', 'Kenyan Used', 'Brand New'], dtype=object)

In [15]:
cars['Transmission'].unique()

array(['Automatic', 'Manual', 'CVT', 'AMT'], dtype=object)

In [16]:
cars.Mileage.unique()

array([136000, 85000, 90231, ..., 117590, 100144, 75048], dtype=object)

In [17]:
# Use describe to get summary statistics
mileage_summary = cars['Mileage'].describe()

# Print the summary statistics
print(mileage_summary)

count           45147
unique          10525
top       Unavailable
freq             8103
Name: Mileage, dtype: object

In [18]:
cars['Mileage'] = cars['Mileage'].replace('...', pd.NA, regex=False)
cars.Mileage.unique()

array([136000, 85000, 90231, ..., 117590, 100144, 75048], dtype=object)

In [19]:
# Convert the 'Mileage' column to numeric, excluding 'Unavailable' values
cars['Mileage'] = pd.to_numeric(cars['Mileage'], errors='coerce')

# Replace 'Unavailable' with the median of numeric values
cars['Mileage'].replace('Unavailable', cars['Mileage'].median(), inplace=True)

In [20]:
# Check if 'Unavailable' is present in the 'Mileage' column
unavailable_check = 'Unavailable' in cars['Mileage'].values

# Print the result
print("Is 'Unavailable' present in the Mileage column?", unavailable_check)

Is 'Unavailable' present in the Mileage column? False

In [21]:
# Calculate the median of the 'Mileage' column
median_mileage = cars['Mileage'].median()

# Fill missing values in the 'Mileage' column with the median
cars['Mileage'].fillna(median_mileage, inplace=True)

In [22]:
cars.Location.unique()

array(['Nairobi, Karen', 'Nairobi, Kilimani', 'Nairobi, Ridgeways',
       'Nairobi, Jamhuri', 'Mombasa, Mombasa CBD',
       'Nairobi, Nairobi Central', 'Mombasa, Mvita',
       'Mombasa, Kizingo / Mombasa', 'Nairobi, Lavington',
       'Mombasa, Tudor', 'Kiambu, Kiambu / Kiambu', 'Nairobi, Muthaiga',
       'Mombasa, Ganjoni', 'Nairobi, Parklands/Highridge',
       'Nairobi, South C', 'Nairobi, Dagoretti', 'Nairobi, Langata',
       'Mombasa, Kisauni', 'Nairobi, Kasarani', 'Nairobi, Westlands',
       'Kiambu, Ruaka', 'Kiambu, Githunguri', 'Mombasa, Tononoka',
       'Mombasa, Shimanzi', 'Mombasa, Changamwe', 'Nairobi, Mombasa Road',
       'Mombasa, Mbaraki', 'Nairobi', 'Kiambu, Juja', 'Nairobi, Pangani',
       'Machakos, Athi River', 'Nairobi, Thome / Nairobi',
       'Nyeri, Karatina Town', 'Uasin Gishu, Eldoret CBD',
       'Nairobi, Roysambu', 'Nairobi, Industrial Area Nairobi',
       'Mombasa, Nyali', 'Nairobi, Runda', 'Nairobi, Nairobi West',
       'Nakuru, Nakuru Town East', 'Nakuru, Nakuru Town West',
       'Nairobi, Nairobi South', 'Mombasa, Makadara (Msa)',
       'Nairobi, Woodley/Kenyatta Golf Course', 'Isiolo, Wabera',
       'Nairobi, Kileleshwa', 'Nairobi, Komarock', 'Nairobi, South B',
       'Nairobi, Embakasi', 'Kiambu, Thika', 'Nairobi, Utawala',
       'Machakos, Syokimau', 'Nairobi, Baba Dogo', 'Nairobi, Kahawa',
       'Mombasa, Kikowani', 'Kiambu, Ruiru', 'Kericho, Kapsoit',
       'Kiambu, Rosslyn', 'Nairobi, Donholm', 'Lamu, Witu',
       'Nairobi, Ruaraka', 'Nairobi, Umoja', 'Nairobi, Kibra',
       'Nairobi, Makadara', 'Machakos, Machakos Town',
       'Kisumu, Kisumu Central', 'Nairobi, Kangemi', 'Nairobi, Ruai',
       'Kajiado, Kitengela', 'Nairobi, Upperhill', 'Nairobi, Githurai',
       'Nyeri, Nyeri Town', 'Nairobi, Kahawa West', 'Nairobi, Eastleigh',
       'Kilifi, Mtwapa', 'Kiambu, Kikuyu', 'Kajiado, Ongata Rongai',
       'Nairobi, Ngara', 'Nairobi, California', 'Narok, Mara',
       'Nairobi, Mountain View', 'Nyeri, Dedan Kimanthi',
       'Nairobi, Utalii', 'Nairobi, Makongeni', 'Nairobi, Kariobangi',
       'Nairobi, Airbase', 'Kilifi, Malindi', "Murang'a, Township G",
       'Kajiado, Kiserian', 'Kakamega, Butsotso East',
       'Uasin Gishu, Turbo', 'Embu, Kirima / Embu', 'Kirinyaga, Kerugoya',
       'Embu, Central Ward', 'Kitui, Township', 'Trans-Nzoia, Sitatunga',
       'Nakuru, Naivasha', 'Nairobi, Imara Daima',
       'Laikipia, Laikipia West', 'Kajiado, Ngong', 'Embu, Kiambere',
       'Kiambu, Kabete', 'Meru, Municipality', 'Laikipia, Nyahururu',
       'Laikipia, Nanyuki', 'Nyeri, Kieni', 'Mombasa, Bamburi',
       'Kericho, Ainamoi', 'Machakos, Mavoko', 'Makueni, Mtito Andei',
       'Uasin Gishu, Kapseret', 'Marsabit, Marsabit Central',
       'Nairobi, Kamulu', 'Bungoma, Tongaren', 'Nakuru, Mbaruk/Eburu',
       'Kirinyaga, Thiba', 'Nakuru, Bahati / Nakuru', 'Kakamega, Shirere',
       'Kiambu, Limuru', 'Nyandarua, Magumu', 'Nairobi, Kawangware',
       'Kiambu, Kiambaa', 'Kiambu, Gatundu North', 'Nairobi, Dandora',
       'Nakuru, Njoro', 'Bomet, Silibwet Township',
       'Makueni, Emali/Mulala', 'Kericho, Soin (Sigowet)',
       'Bungoma, Khalaba (Kanduyi)', 'Nakuru, Lanet',
       'Kilifi, Kilifi South', 'Machakos, Kangundo', 'Makueni, Wote',
       'Busia, Nambale Township', 'Machakos, Mwala', 'Makueni, Kilungu',
       'Embu, Kagaari North', 'Makueni, Makindu', 'Kisii, Kisii CBD',
       'Kiambu, Gatundu South', 'Nakuru, Gilgil', 'Kajiado, Loitoktok',
       'Mombasa, Likoni', 'Makueni, Mbooni', 'Kiambu, Gachie',
       'Kericho, Litein', 'Migori, Central Sakwa (Awendo)',
       'Nairobi, Mbagathi Way', 'Nairobi, Maringo/Hamza',
       'Mombasa, Shanzu', 'Baringo, Ravine', 'Nyandarua, Weru',
       'Nakuru, Subukia', 'Nairobi, Landimawe', 'Machakos, Mlolongo',
       'Nairobi, Huruma / Nairobi', "Murang'a, Kangari",
       'Siaya, East Ugenya', 'Nairobi, Zimmerman', 'Nakuru, Molo',
       'Kitui, Kisasi', 'Kilifi, Kilifi North', 'Narok, Narok Town',
       'Uasin Gishu, Ainabkoi', 'Trans-Nzoia, Kitale',
       'Turkana, Lodwar Township', 'Migori, Kwa',
       'Homa Bay, Homa Bay East', 'Kajiado, Kajiado CBD',
       'Nairobi, Clay City', 'Machakos, Matungulu', "Murang'a, Mugoiri",
       "Murang'a, Makuyu", 'Uasin Gishu, Moiben', 'Kiambu, Banana',
       'Nyeri, Othaya', 'Nairobi, Kitisuru', 'Nairobi, Lucky Summer',
       'Mombasa, Industrial Area (Msa)', 'Nairobi, Mowlem',
       'Kakamega, Lusheya/Lubinu', "Murang'a, Kigumo", 'Nakuru, London',
       'Mombasa, Old Town', 'Nyandarua, Githabai', 'Nakuru, Rongai',
       'Meru, Igoji East', 'Nairobi, Kayole', 'Bungoma, Kimilili',
       'Embu, Mavuria', 'Nairobi, Chokaa', 'Narok, Kilgoris Central',
       'Homa Bay, Homa Bay Central', 'Kilifi, Magarini',
       'Nairobi, Pumwani', 'Nyamira, Township F', 'Trans-Nzoia, Kiminini',
       'Nyeri, Mathira', 'Nandi, Kosirai', 'Nyeri, Naromoru Kiamathaga',
       'Embu, Gaturi South', 'Baringo, Kabarnet',
       "Murang'a, Kimorori/Wempa", 'Kiambu, Lari', 'Machakos, Yatta',
       'Nandi, Kapsabet', 'Kirinyaga, Mutithi', 'Nandi, Chepkumia',
       'Meru, Maua', 'Nairobi, Saika', 'Embu, Mwea',
       'Vihiga, Luanda Township', 'Nairobi, Kiamaiko',
       'Bungoma, Ndalu/ Tabani', 'Nyeri, Kirimukuyu',
       'Kitui, Kyangwithya West', "Murang'a, Kagundu-Ini",
       'Kajiado, Isinya', 'Kwale, Ukunda', 'Nyandarua, Engineer',
       'Isiolo, Isiolo North', 'Kericho, Kabianga',
       'Nakuru, Kuresoi North', 'Samburu, Maralal', "Murang'a, Mbiri",
       'Kilifi, Kilifi Town', 'Laikipia, Laikipia East',
       'Embu, Ruguru/Ngandori / Embu', 'Nyandarua, Central Ndaragwa',
       'Meru, Ntima East', 'Nyandarua, NjabiniKiburu',
       'Kakamega, Idakho South', 'Kericho, Kapkugerwet',
       'Kakamega, Chemuche', 'Kericho, Cheptororiet/Seretut',
       'Bungoma, Soysambu/Mitua', 'Uasin Gishu, Soy',
       'Kakamega, Isukha Central', 'Kajiado, Kimana',
       'Meru, Abothuguchi Central', 'Kisumu, North West Kisumu',
       'Uasin Gishu, Kesses', 'Nyandarua, North Kinangop', 'Meru, Nkuene',
       'Kisumu, Kisumu East', 'Kakamega, Mumias Central',
       'Kakamega, Butsotso Central', 'Meru, Kangeta',
       'Kisii, South Mugirango', 'Meru, Igembe East',
       'Kericho, Kipkelion', 'Trans-Nzoia, Makutano', 'Nyeri, Mukurweini',
       'Kiambu, Ndenderu', 'Kakamega, Nzoia', 'Mombasa, Chaani',
       'Embu, Gaturi North', 'Bomet, Longisa', 'Kisumu, Kisumu West',
       'Nairobi, Njiru', 'Homa Bay, Homa Bay Arujo', 'Nakuru',
       'Bungoma, Musikoma', 'Tharaka-Nithi, Chogoria',
       'Migori, Central Kamagambo', 'Meru, Nyaki West', 'Nairobi, Mwiki',
       'Kitui, Central Mwingi', 'Bungoma, Township D',
       'Migori, Suna Central', 'Meru, Nkomo',
       'Siaya, North Sakwa (Bondo)', 'Mombasa, Jomvu',
       'Tharaka-Nithi, Muthambi', 'Nyandarua, Karau',
       'Nandi, Nandi Hills'], dtype=object)

In [23]:
# Split the 'Location' column into 'City' and 'Area' columns
cars[['City', 'Area']] = cars['Location'].str.split(',', expand=True)

# Display the first few rows of the new columns along with the original 'Location' column for verification
cars[['Location', 'City', 'Area']].head()

               Location     City          Area
0        Nairobi, Karen  Nairobi         Karen
1     Nairobi, Kilimani  Nairobi      Kilimani
2    Nairobi, Ridgeways  Nairobi     Ridgeways
3      Nairobi, Jamhuri  Nairobi       Jamhuri
4  Mombasa, Mombasa CBD  Mombasa   Mombasa CBD

In [24]:
# cars.drop('Location', axis=1, inplace=True)

In [25]:
# assuming your DataFrame is named 'cars' and the 'Price' column contains 'KSh' and commas
price_column = ['Price']
for column in price_column:
    cars[column] = cars[column].replace({'KSh': '', ',': ''}, regex=True)
    
print(cars.head())

     Make   YOM   Color          Used Transmission   Mileage  \
0  Nissan  2014   Black  Foreign Used    Automatic  136000.0
1  Nissan  2014  Silver  Foreign Used    Automatic   85000.0
2  Nissan  2013    Gray  Foreign Used    Automatic   90231.0
3  Nissan  2014   White  Foreign Used    Automatic   52000.0
4  Nissan  2014   White  Foreign Used    Automatic   86532.0

               Location     Price     City          Area
0        Nairobi, Karen   2050000  Nairobi         Karen
1     Nairobi, Kilimani   1380000  Nairobi      Kilimani
2    Nairobi, Ridgeways    995000  Nairobi     Ridgeways
3      Nairobi, Jamhuri   2500000  Nairobi       Jamhuri
4  Mombasa, Mombasa CBD   1100000  Mombasa   Mombasa CBD

In [26]:
cars['Price'] = cars['Price'].astype(str).astype(str)
cars['Price'] = cars['Price'].str.replace('^\D*$', '', regex=True)

cars.Price.unique()

array([' 2050000', ' 1380000', ' 995000', ..., ' 4320000', ' 2787000',
       ' 289000'], dtype=object)

In [27]:
cars.YOM.unique()

array([2014, 2013, 2015, 1978, 2012, 2007, 2005, 1994, 2011, 2017, 2018,
       1990, 2003, 2008, 1987, 2016, 2010, 2009, 1966, 2000, 1991, 2004,
       1996, 1998, 2006, 1997, 2001, 2002, 1981, 1999, 1986, 1995, 1992,
       1985, 1993, 1988, 1989, 2019, 1984, 1975, 2020, 1980, 1977, 1982,
       2021, 1965, 1979, 1976, 1973, 1967, 1963, 1968, 1983, 1961, 1972,
       1957], dtype=object)

In [28]:
# replace unknown with NaN
cars.YOM[cars.YOM =='Unkown'] ='NaN'
cars.YOM.unique()

array([2014, 2013, 2015, 1978, 2012, 2007, 2005, 1994, 2011, 2017, 2018,
       1990, 2003, 2008, 1987, 2016, 2010, 2009, 1966, 2000, 1991, 2004,
       1996, 1998, 2006, 1997, 2001, 2002, 1981, 1999, 1986, 1995, 1992,
       1985, 1993, 1988, 1989, 2019, 1984, 1975, 2020, 1980, 1977, 1982,
       2021, 1965, 1979, 1976, 1973, 1967, 1963, 1968, 1983, 1961, 1972,
       1957], dtype=object)

In [29]:
cars.isnull().sum()

Make              0
YOM               0
Color             0
Used              0
Transmission      0
Mileage           0
Location          0
Price             0
City              0
Area            326
dtype: int64

In [30]:
# Save the cleaned DataFrame to a CSV file
cars.to_csv('data\cleaned_cars.csv', index=False)